<script lang="ts" setup>
const props = defineProps({})
</script>

<template>
  <div class="page__{{camelCase name}}">
    {{name}}
  </div>
</template>

<style>
  .page__{{camelCase name}} {}
</style>